/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #87a8af;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    min-height: 100vh;
}

.header {
    max-width: 100%;
    padding: 15vh 10%;
    color: #51b7e7;

    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20vh;
        -ms-flex: 1 0 20vh;
            flex: 1 0 20vh;
}

.header,
.footer {
    background: radial-gradient(circle, #4F3A4B 10%, rgba(0, 0, 0, 0.5) 10%), radial-gradient(circle, rgba(79, 58, 75, 0.7), #4F3A4B 50%) 5px 5px;
    background-size: 5px 5px;
}

.main {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding: 10% 15%;
    font-size: 18px;
    line-height: 26px;
    background: #212121;
}

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 5%;
        -ms-flex: 1 0 5%;
            flex: 1 0 5%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

    padding: 30px 8%;
}

ul {
    list-style: none;
    padding-left: 10%;
    
    display: -webkit-box;
    
    display: -webkit-flex;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

li {
    padding: 8px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.header > h1 {
    font-weight: 400;
    font-size: 36px;
    margin: 0 0 10px 0;
}

.header > h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    height: 29px;
}


.caret {
    display: inline-block;
    height: 36px;
    width: 4px;
    position: relative;
    left: -10px;
    bottom: -3px;
    background: #ECD018;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.2s;
}

@media (max-width: 600px) {
    .header > h1 {
        font-size: 28px;
    }

    .header > h2 {
        font-size: 20px;
    }

    .caret {
        height: 28px;
    }

    .main {
        font-size: 16px;
    }
}

.icon {
    width: 22px;
    font-size: 22px!important;
    margin-right: 18px;
}

.highlight {
    color: #ff6099;
}


a {
    text-decoration: none;
    color: #51b7e7;
    position: relative;
    
    white-space: nowrap;
    
    -webkit-transition: all 0.2s;
            transition: all 0.2s;
}

.main a::after {
    content: ' ';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #ff6099;
    transition: width 0.2s;
}

.main a:hover::after {
        width: 100%;
}

.footer > a {
    text-decoration: none;
    border: none;
    margin: 0 8%;
}

.footer > a > .fa {
    color: #51b7e7;
    font-size: 36px;
    
    -webkit-transition: color 0.5s;
            transition: color 0.5s;
}

.footer > a:hover > .fa {
    color: #ff6099;
}