html {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: rgba(200, 255, 255, 0.7);
    min-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
}

.header {
    max-width: 100%;
    padding: 15% 10%;

    background: #232323;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

.main {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding: 10rem;
    font-size: 1.8rem;
    background: #131313;

}

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;

    padding: 1rem 10rem;

    background: #232323;
}

ul {
    list-style: none;
    padding: 8px 0 8px 40px;
    
    display: -webkit-box;
    
    display: -webkit-flex;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

li {
    padding: 8px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: 100vh;
}

.header > h1 {
    font-weight: 400;
    font-size: 3rem;
    margin: 0 0 10px 0;
}

.header > h2 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    height: 29px;
}

.caret {
    display: inline-block;
    height: 3rem;
    width: 4px;
    position: relative;
    left: -10px;
    bottom: -3px;
    background: #ECD018;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.icon {
    width: 1.8rem;
    font-size: 1.8rem!important;
    padding-right: 1rem;
}

.highlight {
    color: #ff6099;
}


a {
    text-decoration: none;
    color: #66D9EF;
    
    white-space: nowrap;
    
    -webkit-transition: all 0.3s cubic-bezier(0.21, 1.04, 0.57, 1.9);
            transition: all 0.3s cubic-bezier(0.21, 1.04, 0.57, 1.9);
}

.main a:hover {
    color: #ff6099;
}

.footer > a {
    text-decoration: none;
    border: none;
}

.footer > a > .fa {
    color: #66D9EF;
    font-size: 3rem;
    
    -webkit-transition: all 0.3s cubic-bezier(0.21, 1.04, 0.57, 1.9);
            transition: all 0.3s cubic-bezier(0.21, 1.04, 0.57, 1.9);
}

.footer > a:hover > .fa {
    color: #ff6099;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    html {
        font-size: 20px;
    }
}